<form>
    <li>Customer:
        <select ng-options="i.name as i.name for i in customers" ng-model="order.customer" ng-init="order = customers[0]">
            <!-- <option ng-repeat="i in customers">{{i.name}}</option> -->
            <option value="" disabled="">Choose Customer</option>
        </select>
    </li>
    <li>Order:
        <select ng-options="j.name as j.name for j in products" ng-model="order.product">
            <!-- <option ng-repeat="j in products">{{j.quantity}}</option> -->
            <option value="" disabled="">Choose Order</option>
        </select>
        <input type="text" ng-model="order.quantity" placeholder="Choose Quantity">
    </li>
    <input type="submit" ng-click="addOrder()">
</form>
<table>
    <tr>
        <th>Customer Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Date</th>
    </tr>
    <tr ng-repeat="k in orders">
        <td>{{ k.customer }}</td>
        <td>{{ k.product }}</td>
        <td>{{ k.quantity }}</td>
        <td>{{ k.createdAt | date: YY-mm-dd}}</td>
    </tr>
</table>
